input[type='text'] {
    border: 1px gray solid;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

fieldset {
    width: 300px;
}

table, td {
    border: 1px solid #666464;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}